{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Shopping zone</title>
    <link rel="icon" href="https://cdn.pixabay.com/photo/2015/12/23/01/14/edit-1105049_1280.png">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
      <div class="container-fluid">
        <div class="row">
            <div class="topnav">
                <a  href="#home">Home</a>
                <button data-html="true" id="cart" type="button" class="btn btn-lg btn-light" data-bs-toggle="popover" title="Popover title" data-bs-content="This is you are cart">Cart(0)</button>
                <div class="search-container">
                  <form>
                    <input type="text" placeholder="Search.." name="item_name">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div>
              </div>
           </div>
      </div>
   <div class="container">
       <div class="row">
        {%for product in Product_objects%}
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <div class="card" style="width: 15rem; margin-top: 30px;">
            <img src="{{product.image}}" class="card-img-top" alt="...">
            <div id="nm{{product.id}}"class="card-title text-center">
                {{product.title}}
            </div>
            <div class="card-body">
              <p class="card-text text-center">${{product.price}}</p>
              <a href="/{{product.id}}" class="btn btn-warning">view</a>
              <button id="{{product.id}}" class="btn atc btn-warning">Add to cart</button>
            </div>
          </div>    
         </div>
         {%endfor %} 
       </div>

       <div class="row">
        <div class="col-3">
          <ul class="pagination" style="margin-left:180%; margin-top:30%;">
            {% if Product_objects.has_previous %}
               <li class="page-item">
                 <a class="page-link" href="?page={{Product_objects.previous_page_number }}">Previous</a>
               </li>
            {% endif %}

            <li class="page-item active">
              <a class="page-link" href="?page={{Product_objects.number }}">Current</a>
            </li>

            {% if Product_objects.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{Product_objects.next_page_number }}">Next</a>
                </li>
            {% endif %} 
          </ul>
        </div>
   </div>
   </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </body>
<script type="text/javascript">
   console.log("its working...")

   if(localStorage.getItem('cart')==null){
      var cart = {};
   }
   else{
     cart = JSON.parse(localStorage.getItem('cart'));
   }

   $(document).on('click','.atc',function(){
        console.log("Add to cart button clicked..");
        var item_id = this.id.toString();
        console.log(item_id)  

        if(cart[item_id]!=undefined){
            cart[item_id] = cart[item_id] + 1
        }
        else{
          cart[item_id] = 1;
        }

        console.log(cart)
        localStorage.setItem('cart',JSON.stringify(cart))
        document.getElementById("cart").innerHTML = "Cart("+ Object.keys(cart).length +")";
   })

   var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
});
</script>
</html>